@charset "utf-8";
/* CSS Document */

::placeholder {
	color: #e1b49a;
}

.register-grid {
	height: 100vh;
	grid-template-columns: 30vw 30vw;
	justify-content: center;
	grid-gap: 30px;
}

.form-grid {
	height: 80vh;
	grid-template-rows: 20% 70% 10%;
	text-align: left;
}

.form-grid div {
	justify-self: flex-start;
	font-size: 3em;
	text-align: left;
	width: 100%;
}

.form-grid div .form-title {
	margin-left: 40px;
}


.form-grid div hr {
	border: 3px solid #193546;
}

.form-grid div:nth-child(2) {
	align-self: flex-start;
}

.form-grid p {
	color: #193546;
	justify-self: flex-end;
	align-self: flex-end;
}

.input-grid {
	height: 80vh;
	background-color: #e1b49a;
	grid-gap: 10px;
	grid-template-rows: 20% 10% 20% 10% 10% 20%;
	display: grid;
	place-items: center;
	text-align: center;
}

.input-grid input, .input-grid textarea {
	color: #e1b49a;
	font-size: 1.3em;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	width: 90%;
	height: 50px;
	padding-left: 25px;
}


.input-grid textarea {
	resize: none;
	padding-top: 20px;
}

.input-grid button {
	padding: 16px 52px 16px 52px;
	border: 1px solid lightgrey;
	background-color: white;
	color: #e1b49a;
	justify-self: flex-end;
	align-self: flex-end;
	margin-right: 30px;
}

.input-grid .name {
	align-self: flex-end;
}

.input-grid div .date-of-birth {
	width: 35%;
	margin-right: 4%;
}

.input-grid div .mobile {
	width: 50%;
}

.input-grid .address {
	height: 150px;
	align-self: flex-start;
}

.input-grid .terms-and-conditions {
	display: flex;
	width: 90%;
	text-align: left;
	align-self: flex-start;
}

.terms-and-conditions input {
	width: 25px;
	margin-left: 20px;
}

.terms-and-conditions p {
	margin-left: 20px;
	color: white;
}

