@charset "utf-8";
/* CSS Document */

.video-grid {
	height: 100vh;
}

.video-grid div {
	display: grid;
	grid-template-rows: 6vh 60vh 8vh;
	place-items: center;
	text-align: center;
}

.video-grid div hr {
	border: 30px solid #193546;
	width: 100%;
}

.video-grid div video {
	width: 60vw;
	height: 100%;
}

.video-grid div p {
	font-size: 1.6em;
	background-color: #193546;
	color: #f4f0e4;
	width: 100%;
	height: 100%;
	display: flex;
	place-items: center;
	justify-content: center;
}